__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.git/
.gitignore
.idea/
*.iml
.vscode/
*.log
token.json # Avoid committing user tokens
*.DS_Store
docker-compose.yaml # Usually not needed inside the app container